<h1> <%= @riddle.name %> - Highscores </h1>

    <% @scores.each do |score| %>
        <% if score.riddle_id == @riddle.id  %>
            <li><%= score.point %> Seconds by <strong><%= (@user.find (score.user_id)).email %></strong></li>
        <% end %>
    <% end %>