
<div class="coverup">
    <div class="congratulations">
        <h1>Thanks for playing</h1>
        <h2> Your score was <%= @score %> seconds</h2>
        <button class="view_score postbutton" >View all Scores</button>
    </div>
</div>

<div class="heading_score">
    <h1> <%= @riddle.name %> - Highscores </h1>
</div>

<div class="table_content">
<table>
    <tr>
        <th class="table_header" >Seconds</th>
        <th class="table_header" >User</th>
    </tr>

    <% @scores.each do |score| %>
        <% if score.riddle_id == @riddle.id  %>
            <tr class = "table_row">
                <td> <%= score.point %> </td>
                <td> <%= (@user.find (score.user_id)).email%> </td>
            </tr>
        <% end %>
    <% end %>
</table>
</div>