
<h1 class="bouncingheadings">Edit Riddle</h1>

<%= render :partial => 'form' %>

<%= button_to "Delete Riddle", @riddle, :class => "delete", :method => 'delete', :data => {:confirm => 'Please confirm.'} %>