<h1 class="welcome">All Riddles</h1>

<div class="listings">
<% @riddles.each do |riddle| %>
    <li class="rollinglist">
    <%= link_to riddle.name, riddle %> <br> Author: <%= link_to riddle.user.email, riddle.user %> 
    </li>
<% end %>

</div>